.line {
  margin-top: 0;
  margin-bottom: 0;
  transition: all 200ms 0s ease;
}

.active {
  background-color: #ddd;
}

.text {
  color: #222;
}
.parenthesis {
  color: #22a;
}
.brackets {
  color: #a22;
}
.comment {
  color: #292;
}
.unknown {
  color: #222;
}
