.mark {
  font-style: normal;
}
.mark > span {
  margin-left: -1em;
}
.mark > span:before {
  position: relative;
  content: '・';
  left: 1em;
  top: -.75em;
}
.mark > span.hidden {
  opacity: 0;
  position: absolute;
}
