.novel {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.novel-content.kakuyomu {
  /* max-width: 665px; */
  min-width: 740px;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;

  line-height: 1.8;
  font-size: 17.5px;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 Pr6N", "Hiragino Mincho Pr6N", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 StdN", "Hiragino Mincho StdN", HiraMinProN-W3, HGS明朝B, HG明朝B, dcsymbols, "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pr6N", "Hiragino Kaku Gothic Pr6N", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", "Segoe UI", Verdana, メイリオ, Meiryo, sans-serif;
  /* font-family: "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pr6N", "Hiragino Kaku Gothic Pr6N", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", "Segoe UI", Verdana, メイリオ, Meiryo, sans-serif; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.novel-content.narou {
  width: 730px;
  margin: 0 auto;
  line-height: 28.8px;
  font-size: 16px;
  font-family: "メイリオ", "Meiryo", 'Lucida Grande', "sans-serif";
}

.section-title.kakuyomu {
  max-width: 665px;
  margin: 3rem auto 2rem;
  line-height: 1.2;
  font-family: "dcsymbols", "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pr6N", "Hiragino Kaku Gothic Pr6N", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", "Segoe UI", Verdana, "メイリオ", "Meiryo", sans-serif;
  text-align: center;
}

.section-title.lv0.kakuyomu { /* title */
  position: relative;
  margin-top: 3em;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}
.section-title.lv0.kakuyomu::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: -24px;
  background-color: #000;
  width: 40px;
  height: 10px;
}
.section-title.lv1.kakuyomu { /* part */
  font-size: 38.5px;
  font-weight: 400;
  color: #888;
}
.section-title.lv2.kakuyomu { /* chapter */
  position: relative;

  font-weight: 400;
  font-size: 24.5px;
  color: #222;
}
    .section-title.lv2.kakuyomu > span {
      display: inline-block;
      position: relative;
      z-index: 1;
      padding: 0 .5em;

      background: #fff;
    }
    .section-title.lv2.kakuyomu::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 0;
      border-top: 1px solid #bcbfbf;
    }

.section-title.lv0.narou { /* title */
  margin: 3rem 0 4rem 0;
  text-align: center;
  font-size: 28px;
  color: #000;
}
.section-title.lv1.narou { /* part */
  color: #666;
  font-size: 25px;
}
.section-title.lv2.narou { /* chapter */
  margin: 0 0 2rem 0;
  padding: 0 0 0 .7rem;
  font-size: 11pt;
  color: #666;
  border-bottom: 5px solid #ddd;
}

.episode-title.kakuyomu {
  margin: 2rem auto 60px;
  font-family: "dcsymbols", "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pr6N", "Hiragino Kaku Gothic Pr6N", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", "Segoe UI", Verdana, "メイリオ", "Meiryo", sans-serif;
  font-size: 24.5px;
  font-weight: 400;
  text-align: center;
  color: #222;
}

.episode-body.kakuyomu {
  margin: 0 auto;
  max-width: 665px;
}

.episode-title.narou {
  margin: 0 auto 10px;
  font-size: 170%;
  line-height: 150%;
  text-align: center;
  color: #444;
}

.episode-body.narou {
  width: 600px;
  margin: 30px auto 50px;
  padding: 0 20px 0 20px;
}
