.ruby {
  position: relative;
}
.ruby > rt {
  display: none;
}
.ruby::before {
  content: attr(data-ruby);
  position: absolute;
  top: -1.2em;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 0.5em;
  text-align: center;
}
.ruby > span.hidden {
  opacity: 0;
  position: absolute;
}
